@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root {
	// --container-width: 1200px;
	// --container-padding: 15px;

	--font-main: 'Montserrat', sans-serif;
	--font-accent: 'Montserrat', serif;

	--page-bg: #fff;
	--text-color: #000;
	--accent: #ac182c;

	// --laptop-size: 1199px;
	// --tablet-size: 959px;
	// --mobile-size: 599px;
}

.dark {
	--page-bg: #252526;
	--text-color: #fff;
}
